.row {
  display: flex;
  align-items: center;
  gap: 54px;
}
.list {
  display: flex;
  gap: 54px;
}
.item {
  padding: 54px 30px 32px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1.35px solid;

  border-radius: 29px;
  border-image-source: linear-gradient(
    132.9deg,
    #dadada 9.82%,
    rgba(218, 218, 218, 0.07) 49.06%,
    #dadada 103.78%
  );
}
.imageWrapper {
  width: 186px;
  height: 186px;
  background: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
