.top {
  display: flex;
  gap: 72px;
  margin-bottom: 54px;
}
.topTitle {
  font-size: 80px;
  font-weight: 800;
  max-width: 392px;
  line-height: 1.1;
  span {
    background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.topText {
  margin-top: 20px;
  max-width: 444px;
  line-height: 1.63;
}
.wrapper {
  overflow: hidden;
  margin-bottom: 100px;
}
.row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 54px;
  transform: translateX(-28vw);
  transition: 0.5s ease-in-out;

  &.show {
    transform: translateX(0);
    .btn {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.list {
  display: flex;
  gap: 54px;
}
.item {
  padding: 54px 30px 32px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1.35px solid #dadada;
  border-radius: 29px;
  transition: border 0.3s;
  &:hover {
    border: 1px solid #35c66b;
    .imageWrapper {
      img {
        transform: scale(1.05);
      }
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  p {
    line-height: 1.63;
    margin-bottom: 7px;
  }
  button {
    all: unset;
    padding: 14.65px 38px;
    background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
    border-radius: 60px;
    color: #fff;
    font-size: 17.3px;
    line-height: 1.46;
    font-weight: 639;
  }
}
.blur {
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}
.price {
  display: flex;
  align-items: flex-end;
  gap: 35px;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  span {
    font-size: 20px;
    color: #d9d9d9;
  }
}
.imageWrapper {
  width: 186px;
  height: 186px;
  background: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  img {
    transition: 0.3s;
  }
}
.btn {
  all: unset;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: calc(100% + 54px);
  transition: 0.3s;
  cursor: pointer;

  svg * {
    transition: 0.3s;
  }
  &:hover {
    svg * {
      opacity: 0.6;
    }
  }
}
