.row {
  display: flex;
  justify-content: space-between;
}
.imageWrapper {
  position: relative;
  width: 465px;

  background: #237249;
  img {
    transform: translate(45px, -36px);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content {
  width: 457px;
  display: flex;
  flex-direction: column;
  gap: 63px;
}
.title {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.1;
  span {
    background: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.subtitle {
  line-height: 1.6;
}
